<div class="placeCenter h-screen">
  <h1 class="text-5xl font-bold font-for-titles p-4 text-white">Welcome to Mogo!</h1>
  <p class="text-3xl font-for-titles p-4 text-white">Use the buttons below to navigate:</p>
  <div class="w-3/6 flex justify-around">
    <button class=" bg-cream-white text-pastel-purple font-bold py-2 px-4 rounded size-20 min-w-32 hover:bg-nyu-purple hover:text-white"
      onclick="window.location.href='/register'">Register</button>
    <button class=" bg-cream-white text-pastel-purple font-bold py-2 px-4 rounded size-20 min-w-32 hover:bg-nyu-purple hover:text-white"
      onclick="window.location.href='/login'">Login</button>
    <button class=" bg-cream-white text-pastel-purple font-bold py-2 px-4 rounded size-20 min-w-32 hover:bg-nyu-purple hover:text-white"
      onclick="window.location.href='/db'">Database</button>
  </div>
</div>

