<!DOCTYPE html>
<html>
<head>
    <title>Mogo</title>
    <link href="/output.css" rel="stylesheet">
    <link href="/override.css" rel="stylesheet">
</head>
<body class="bg-pastel-purple">
    {{{body}}}
</body>
</html>